## Analyse du data set

In [4]:
### importer le package 
import pandas as pd

In [5]:
### Lire le data set qui correspond aux domaines d'emploi par domaine d'études pour tout les ages 
all_ages=pd.read_csv("all-ages.csv")
all_ages.head(5)

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148.0,90245.0,74078.0,2423.0,0.026147,50000.0,34000.0,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326.0,76865.0,64240.0,2266.0,0.028636,54000.0,36000.0,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955.0,26321.0,22810.0,821.0,0.030248,63000.0,40000.0,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549.0,81177.0,64937.0,3619.0,0.042679,46000.0,30000.0,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280.0,17281.0,12722.0,894.0,0.049188,62000.0,38500.0,90000.0

In [31]:
### Lire le data set répertorie le domaine d'emploi par domaine d'études pour les diplomés universitaires récents. 
recent_grads=pd.read_csv("recent-grads.csv")
recent_grads.head(5)

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419.0,PETROLEUM ENGINEERING,Engineering,2339.0,36.0,2057.0,282.0,0.120564,1976.0,...,270.0,1207.0,37.0,0.018381,110000.0,95000.0,125000.0,1534.0,364.0,193.0
1,2,2416.0,MINING AND MINERAL ENGINEERING,Engineering,756.0,7.0,679.0,77.0,0.101852,640.0,...,170.0,388.0,85.0,0.117241,75000.0,55000.0,90000.0,350.0,257.0,50.0
2,3,2415.0,METALLURGICAL ENGINEERING,Engineering,856.0,3.0,725.0,131.0,0.153037,648.0,...,133.0,340.0,16.0,0.024096,73000.0,50000.0,105000.0,456.0,176.0,0.0
3,4,2417.0,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258.0,16.0,1123.0,135.0,0.107313,758.0,...,150.0,692.0,40.0,0.050125,70000.0,43000.0,80000.0,529.0,102.0,0.0
4,5,2405.0,CHEMICAL ENGINEERING,Engineering,32260.0,289.0,21239.0,11021.0,0.341631,25694.0,...,5180.0,16697.0,1672.0,0.061098,65000.0,50000.0,75000.0,18314.0,4440.0,972.0

#### Nombre d'étudiants par catégrie de major

In [7]:
all_ages["Major_category"].unique()

array(['Agriculture & Natural Resources', 'Biology & Life Science',
       'Engineering', 'Humanities & Liberal Arts',
       'Communications & Journalism', 'Computers & Mathematics',
       'Industrial Arts & Consumer Services', 'Education',
       'Law & Public Policy', 'Interdisciplinary', 'Health',
       'Social Science', 'Physical Sciences', nan,
       'Psychology & Social Work', 'Arts', 'Business'], dtype=object)

In [ ]:
### créer une fonction dans laquelle
##vous utiliserez la colonne Total pour calculer le
##nombre d'étudiants pour chaque catégorie de Majou 
##(Major_category) dans chaque dataset.

In [8]:
def calculate_Major_category(DataFrame):
    Category = DataFrame["Major_category"].unique()
    Counts_Dictionary = {}
    
    for c in Category:
        Major_DataFrame = DataFrame[DataFrame["Major_category"]==c]
        total = Major_DataFrame["Total"].sum()
        Counts_Dictionary[c]=total
    return Counts_Dictionary

In [12]:
### Pour all_ages
all_age_category_counts = {}
category_counts=calculate_Major_category(all_ages)
print(category_counts)

{'Agriculture & Natural Resources': 632437.0, 'Biology & Life Science': 1338186.0, 'Engineering': 3576013.0, 'Humanities & Liberal Arts': 3738335.0, 'Communications & Journalism': 1803822.0, 'Computers & Mathematics': 1781378.0, 'Industrial Arts & Consumer Services': 1018072.0, 'Education': 4700118.0, 'Law & Public Policy': 902926.0, 'Interdisciplinary': 45199.0, 'Health': 2950859.0, 'Social Science': 2654125.0, 'Physical Sciences': 1013152.0, nan: 0.0, 'Psychology & Social Work': 1987278.0, 'Arts': 1805865.0, 'Business': 9858741.0}

In [13]:
## Pour recent_grads
recent_grads_category_counts = {}
recent_grads_category_counts=calculate_Major_category(recent_grads)
print(recent_grads_category_counts)

{'Engineering': 537583.0, 'Business': 1302376.0, 'Physical Sciences': 183363.0, 'Law & Public Policy': 179107.0, 'Computers & Mathematics': 299008.0, 'Agriculture & Natural Resources': 79981.0, 'Industrial Arts & Consumer Services': 227357.0, 'Arts': 357130.0, 'Health': 463230.0, 'Social Science': 529966.0, nan: 0.0, 'Biology & Life Science': 453862.0, 'Education': 559129.0, 'Humanities & Liberal Arts': 713468.0, 'Psychology & Social Work': 481007.0, 'Communications & Journalism': 392601.0, 'Interdisciplinary': 12296.0}

In [19]:
### Autre méthode 
import numpy as np

In [26]:
all_age_category_counts =dict(all_ages.pivot_table(index="Major_category",values="Total",aggfunc=np.sum))
all_age_category_counts

{'Total': Major_category
 Agriculture & Natural Resources         632437.0
 Arts                                   1805865.0
 Biology & Life Science                 1338186.0
 Business                               9858741.0
 Communications & Journalism            1803822.0
 Computers & Mathematics                1781378.0
 Education                              4700118.0
 Engineering                            3576013.0
 Health                                 2950859.0
 Humanities & Liberal Arts              3738335.0
 Industrial Arts & Consumer Services    1018072.0
 Interdisciplinary                        45199.0
 Law & Public Policy                     902926.0
 Physical Sciences                      1013152.0
 Psychology & Social Work               1987278.0
 Social Science                         2654125.0
 Name: Total, dtype: float64}

### Taux de job à faible salaire

In [35]:

low_wage_proportion = dict(recent_grads.pivot_table(index="Low_wage_jobs", values="Total", aggfunc=np.sum))
low_wage_proportion

{'Total': Low_wage_jobs
 0.0          3741.0
 25.0          609.0
 31.0         1488.0
 37.0         1386.0
 49.0          720.0
              ...
 27440.0    213996.0
 27968.0    205211.0
 28339.0    280709.0
 32395.0    329927.0
 48207.0    393735.0
 Name: Total, Length: 165, dtype: float64}

In [41]:
low_wage_proportion_sum = recent_grads["Low_wage_jobs"].sum()
recent_grads_total=recent_grads["Total"].sum()

In [42]:
low_wage_proportion_sum

667405.0

In [43]:
recent_grads_total

6771464.0

In [44]:
### Calcul de proportion 
low_wage_proportion_sum/recent_grads_total

0.09856140415130317

### Comparer des datasets

In [46]:
## Liste des majors communes à nos 2 DataFrames
majors = recent_grads['Major'].unique()

In [59]:
recent_grads_count=0
for m in majors:
    recent_grads_majors=recent_grads[recent_grads['Major']== m]
    all_ages_majors=all_ages[all_ages['Major']== m]
    
    recent_grads_Unemployment_rate=recent_grads_majors['Unemployment_rate'].values
    all_ages_Unemployment_rate=all_ages_majors['Unemployment_rate'].values
 
    if recent_grads_Unemployment_rate < all_ages_Unemployment_rate:
        recent_grads_count +=1
        
print(recent_grads_count)

### 42 major sur 173 pour lesquels les diplomés récents
## font mieux que la population entière en terme de taux d'emploi.
## càd moins du taux de chômage

42

<ipython-input-59-e0b9e0d8a24e>:9: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if recent_grads_Unemployment_rate < all_ages_Unemployment_rate: